.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  line-height: 45px;
  background-color: #ffffff;
  width: 100%;
}

.left-side {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.right-side {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.exitIcon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.exitButton {
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  color: rgba(189, 189, 189, 1);
  display:none;
}

.name-container {
  display: flex;
  align-items: center;
}

.nameButton {
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  color: rgba(189, 189, 189, 1);
}

@media (min-width: 768px) {
  .verticalLine {
    width: 1px;
    height: 24px;
    background-color: #ccc;
    margin-right: 10px;
  }
        .exitButton {
          display: initial;
        
    }
  .header{
    font-size: 30px;
  }
    .logo {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
    .left-side {
      margin-left: 30px;
    }
        .right-side {
          margin-right: 30px;
        }
}

  

