.container {
  width: min-content;
  justify-content: space-between;
}

.buttonContainer {
  width: min-content;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  text-decoration: none;
  transition: transform 0.2s ease;
  /* margin-right: 10px; */
}

.buttonContainer:hover {
  transform: scale(1.05);
}

.image {
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 10px;
}

.home-button,
.statistics-button {
  margin-left: 15px;
  cursor: pointer;
  border: none;
  color: black;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: inherit;
  display: block;
}

@media (max-width: 767px) {
  .home-button,
  .statistics-button {
    display: none;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
  }
  .buttonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .image {
    height: 44px;
    width: 44px;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .exchange-icon {
    display: none;
  }
}
