.container {
  margin: 20px;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  /* margin-right: 10px; */
}

.image {
  height: 24px;
  width: 24px;
}

.home-button,
.statistics-button {
  /* margin-right: 10px; */
  cursor: pointer;
  border: none;
  color: black;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: inherit;
  display: block;
}

.doughnutContainer {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}
