.addButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 44px;
    height: 44px;
    background-color: rgba(36, 204, 167);
    color: white;
    font-size: 35px;
    line-height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}